# Add a team or username to this file
# Example:
*   @ministryofjustice/hosting-migrations

* @ministryofjustice/hosting-migrations
.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hosting-migrations
.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hosting-migrations
playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hosting-migrations
ansible/** @ministryofjustice/hmpps-dba @ministryofjustice/hosting-migrations
scripts/** @ministryofjustice/hmpps-dba @ministryofjustice/hosting-migrations