# Add a team or username to this file
# Example:
# *   @ministryofjustice/operations-engineering
.github/ @ministryofjustice/hmpps-migration
.github/workflows/oracle-* @ministryofjustice/hmpps-dba

.github/workflows/delius-* @ministryofjustice/unilink

playbooks/** @ministryofjustice/hmpps-dba
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration
