- name: Get ARN for Audited Interaction Replication Task
  shell: |
    aws dms describe-replication-tasks --region {{ region }}  | \
       jq -r '.ReplicationTasks[] | select(.TableMappings | contains("\"AUDITED_INTERACTION\"")) | .ReplicationTaskArn'
  register: get_audited_interaction_task_arn
  delegate_to: localhost
  changed_when: false

- set_fact:
    audited_interaction_task_arn: "{{ get_audited_interaction_task_arn.stdout }}"

- debug:
    msg: "Audited Interaction Task ARN: {{ audited_interaction_task_arn }}"

- name: Get ARN for Business Interaction Replication Task
  shell: |
    aws dms describe-replication-tasks --region {{ region }}  | \
       jq -r '.ReplicationTasks[] | select(.TableMappings | contains("BUSINESS_INTERACTION")) | .ReplicationTaskArn'
  register: get_business_interaction_task_arn
  delegate_to: localhost
  changed_when: false

- set_fact:
    business_interaction_task_arn: "{{ get_business_interaction_task_arn.stdout }}"

- name: Get ARN for Audited Interaction Checksum Replication Task
  shell: |
    aws dms describe-replication-tasks --region {{ region }}  | \
       jq -r '.ReplicationTasks[] | select(.TableMappings | contains("\"AUDITED_INTERACTION_CHECKSUM\"")) | .ReplicationTaskArn'
  register: get_audited_interaction_checksum_task_arn
  changed_when: false

- set_fact:
    audited_interaction_checksum_task_arn: "{{ get_audited_interaction_checksum_task_arn.stdout }}"

- name: Get ARN for User Replication Task
  shell: |
    aws dms describe-replication-tasks --filters Name=endpoint-arn,Values={{ get_target_endpoint.stdout }}  --region {{ region }}  | \
       jq -r '.ReplicationTasks[] | select(.TableMappings | contains("USER_")) | .ReplicationTaskArn'
  register: get_user__task_arn
  changed_when: false
  when: get_target_endpoint.stdout != ''

- set_fact:
    user__task_arn: "{{ get_user__task_arn.stdout }}"