# When restarting a Client replication we must ensure we have all the required
# redo logs available on the host to cover the period since the start SCN
- name: Restore Archivelogs
  when: audited_interaction_client
  block:
    - name: Get Host where Source Database is running
      include_tasks: find_audit_source_host.yml

    - name: Run RMAN Restore
      script: restore_archivelogs.sh
      delegate_to: "{{ groups[audit_source_host][0] }}"
      become: true
      become_user: oracle
      environment:
        OEM_SECRET_ROLE: "{{ oem_secret_role }}"
        CATALOG_DB: "{{ catalog }}"
        MAX_SEQNO: "{{ max_seqno }}"

- name: Restart Business Interaction Replication Task
  include_tasks: restart_business_interaction_task.yml

# We do not need to wait for the Audited Interaction Checksum Replication to start as the main
# Audited Interaction data replication is not dependent on it.  We only supply a start SCN
# on the client side of the replication
- name: Restart the Client Side Audited Interaction Checksum DMS CDC Replication Tasks from Requested Time
  shell: |
    aws dms start-replication-task --replication-task-arn "{{ audited_interaction_checksum_task_arn }}" \
       --cdc-start-position "{{ audit_cdc_scn }}"  --region {{ region }}  \
       --start-replication-task-type start-replication
  when: audited_interaction_client

# The repository does not need an SCN for a restart since it is reading from S3
- name: Restart the Repository Side Audited Interaction Checksum DMS CDC Replication Tasks from S3
  shell: |
    aws dms start-replication-task --replication-task-arn "{{ audited_interaction_checksum_task_arn }}" \
       --region {{ region }}  \
       --start-replication-task-type start-replication
  when: not audited_interaction_client

- name: Restart the Client Side Audited Interaction DMS CDC Replication Tasks from Requested Time
  shell: |
    aws dms start-replication-task --replication-task-arn "{{ audited_interaction_task_arn }}" \
       --cdc-start-position "{{ audit_cdc_scn }}"  --region {{ region }}  \
       --start-replication-task-type start-replication
  when: audited_interaction_client

# The repository does not need an SCN for a restart since it is reading from S3
- name: Restart the Repository Side Audited Interaction DMS CDC Replication Tasks from S3
  shell: |
    aws dms start-replication-task --replication-task-arn "{{ audited_interaction_task_arn }}" \
       --region {{ region }}  \
       --start-replication-task-type start-replication
  when: not audited_interaction_client

# We cannot supply a lower bound for User and Probation Area replication since we have to use
# an S3 bucket for staging between Mod Platform environments, and Start Positions may not
# be specified for S3 sources.   Therefore we simply restart replication as of the current time.
# However, this means that an User changes which occur whilst the replication is stopped
# will be skipped, and not applied to the client.  Therefore avoid adding new stub audit
# users into the repository whilst a client refresh is in progress.
- name: Restart the User and Probation Area DMS CDC Replication Tasks
  shell: |
    aws dms start-replication-task --replication-task-arn "{{ user__task_arn }}" \
       --region {{ region }}  \
       --start-replication-task-type start-replication
