- block:
    - name: Check if DBSNMP Profile Exists
      script: get_database_profile.sh
      register: get_dbsnmp_monitoring_profile
      changed_when: false
      environment:
        PROFILE_NAME: "DBSNMP_MONITORING_PROFILE"

    # Check Which Profile DBSNMP is Using
    - name: Check Current DBSNMP Profile
      script: get_current_profile.sh
      register: get_dbsnmp_current_profile
      changed_when: false
      environment:
        PROFILE_USER: "DBSNMP"

    - name: Create DBSNMP Profile
      script: create_database_profile.sh
      register: out
      when: get_dbsnmp_monitoring_profile.stdout_lines[-1] != 'DBSNMP_MONITORING_PROFILE'
      environment:
          PROFILE_NAME: "DBSNMP_MONITORING_PROFILE"

    - name: Customize DBSNMP Profile
      script: alter_database_profile.sh
      environment:
          PROFILE_NAME: "DBSNMP_MONITORING_PROFILE"
          IDLE_TIME: 30

    - name: Set DBSNMP Profile
      script: set_database_profile.sh
      when: get_dbsnmp_current_profile.stdout_lines[-1] != 'DBSNMP_MONITORING_PROFILE'
      environment:
        PROFILE_USER: "DBSNMP"
        PROFILE_NAME: "DBSNMP_MONITORING_PROFILE"

  environment:
    OEM_DB_NAME: "{{ oem_db_name | default() }}"
