- name: Get Current Primary Database
  shell: |
    . ~/.bash_profile
    dgmgrl / "show configuration" | awk '/- Primary database/{print $1}'
  changed_when: false
  register: get_current_primary_database

- fail:
    msg: "Target database is already the primary"
  when: switchover_target_database_name | lower | trim == get_current_primary_database.stdout | lower | trim

- name: Check Primary is Ready to Switchover
  shell: |
    . ~/.bash_profile
    dgmgrl / "validate database {{ get_current_primary_database.stdout }}" | awk '/Ready for Switchover:/{print $NF}'
  changed_when: false
  register: check_primary

- fail:
    msg: "Primary database is not ready for switchover"
  when: check_primary.stdout != 'Yes'

- name: Check Standby is Ready to Switchover
  shell: |
    . ~/.bash_profile
    dgmgrl / "validate database {{ switchover_target_database_name }}" | awk '/Ready for Switchover:/{print $NF}'
  changed_when: false
  register: check_standby

- fail:
    msg: "Standby database is not ready for switchover"
  when: check_standby.stdout != 'Yes'

- name: Check standby database apply lag - fail conversion if consistently more than a few seconds
  shell: |
    . ~/.bash_profile
    dgmgrl / "show database {{ switchover_target_database_name }}" | grep "Apply Lag:" | awk '{print $3}'
  register: apply_lag
  changed_when: false
  until: apply_lag.stdout in ['0','1','2','3','4','5','6','7','8','9','10']
  delay: 10
  retries: 10
