---
- hosts: localhost
  gather_facts: no
  become: no

  tasks:
    - name: Check if this is an Audit Client
      delegate_to: localhost
      become: no
      block:
        - include_role:
            name: oracle_audit_replication_management
            tasks_from: is_audit_client.yml
          vars:
            region: eu-west-2

    - name: Show if Audited Interaction Client
      debug:
        msg: "Audited Interaction Client: {{ audited_interaction_client }}"

- hosts: "{{ target_hosts }}"
  gather_facts: no
  become: true
  become_user: oracle

  tasks:
    # Use previous localhost check if this is an audited interaction client environment
    - name: Set if this an Audited Interaction Client Environment
      set_fact:
        audited_interaction_client: "{{ hostvars['localhost']['audited_interaction_client'] }}"

    # We want the audit from the startup SCN but only for the client environments
    - name: Get Restart Point
      when:
        - audited_interaction_client
        - replication_action == 'restart'
      block:
        - name: Get Database Startup SCN
          script: ../../common/files/get_db_startup_scn.sh
          register: get_db_startup_scn
          changed_when: false

        - name: Show Database Startup SCN
          debug:
            msg: "Restarting Audit Replication from SCN {{ get_db_startup_scn.stdout | trim }}"

        - name: Get Maximum Archived Redo Log Sequence Generated So Far
          script: oracle_audit_replication_management/files/get_max_seq.sh
          register: get_max_seq
          changed_when: false

# Prior to restarting the replication tasks in a client environment we take a backup of all archivelogs
# so that we can restore them onto the standby database used by DMS to ensure
# it can read all changes since resetlogs
- name: Backup Archivelogs
  import_playbook: ../oracle_backup/backup.yml
  when:
    - audited_interaction_client
    - replication_action == 'restart'
  vars:
    rman_target: "{{ target_hosts }}"
    json_inputs: {}
    daily_weekly: archivelog
    min_seq: 1
    max_seq: "{{ get_max_seq.stdout | trim }}"
    run_in_foreground: true

- hosts: "{{ target_hosts }}"
  gather_facts: no
  become: true
  become_user: oracle

  tasks:
    # Include role inside a block so that it may be delegated
    - name: Restart Audited Interaction Replication
      delegate_to: localhost
      become: no
      block:
        - include_role:
            name: oracle_audit_replication_management
          vars:
            replication_action: restart
            audit_cdc_scn: "{{ get_db_startup_scn.stdout | default('') | trim }}"
            max_seqno: "{{ ( get_max_seq.stdout | trim ) if (audited_interaction_client and replication_action == 'restart') else 'NOT_APPLICABLE' }}"
