---
apiVersion: v1
kind: ConfigMap
metadata:
  name: migrate-db-script
data:
  entrypoint.sh: |-
    #!/bin/bash
    set -e
    echo "${SRC_DB_HOST}:5432:${SRC_DB_NAME}:${SRC_DB_USER}:${SRC_DB_PASS}" > ~/.pgpass
    echo "${DST_DB_HOST}:5432:${DST_DB_NAME}:${DST_DB_USER}:${DST_DB_PASS}" >> ~/.pgpass
    chmod 0600 ~/.pgpass
    chown job:job ~/.pgpass
    set -x

    # Dump the source database
    pg_dump --jobs=8 --host="$SRC_DB_HOST" --username="$SRC_DB_USER" --dbname="$SRC_DB_NAME" --no-owner --no-privileges --verbose --format=directory --file=/home/job/db-dump

    psql --host="$DST_DB_HOST" --username="$DST_DB_USER" --dbname="$DST_DB_NAME" -c "drop schema if exists public cascade;"

    psql --host="$DST_DB_HOST" --username="$DST_DB_USER" --dbname="$DST_DB_NAME" -c "create schema public;"

    # Restore the source database dump to the destination database
    pg_restore --jobs=8 --host="$DST_DB_HOST" --username="$DST_DB_USER" --dbname="$DST_DB_NAME" --no-owner --no-privileges --verbose /home/job/db-dump
    rm -rv /home/job/db-dump ~/.pgpass
---
apiVersion: batch/v1
kind: Job
metadata:
  name: migrate-db
  labels:
    name-prefix: migrate-db
spec:
  template:
    spec:
      containers:
        - name: migrate-db
          image: ghcr.io/ministryofjustice/hmpps-delius-alfresco-db-utils:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 4
              memory: 4Gi
          command:
            - /bin/entrypoint.sh
          env:
            - name: SRC_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: legacy-rds-creds
                  key: DATABASE_NAME
            - name: SRC_DB_USER
              valueFrom:
                secretKeyRef:
                  name: legacy-rds-creds
                  key: DATABASE_USERNAME
            - name: SRC_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: legacy-rds-creds
                  key: DATABASE_PASSWORD
            - name: SRC_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: legacy-rds-creds
                  key: RDS_INSTANCE_ADDRESS
            - name: DST_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.appName }}-rds-instance-output"
                  key: DATABASE_NAME
            - name: DST_DB_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.appName }}-rds-instance-output"
                  key: DATABASE_USERNAME
            - name: DST_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.appName }}-rds-instance-output"
                  key: DATABASE_PASSWORD
            - name: DST_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.appName }}-rds-instance-output"
                  key: RDS_INSTANCE_ADDRESS
          volumeMounts:
            - name: migrate-db-script
              mountPath: /bin/entrypoint.sh
              readOnly: true
              subPath: entrypoint.sh
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 999
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
      serviceAccount: cd-serviceaccount
      serviceAccountName: cd-serviceaccount
      restartPolicy: Never
      volumes:
        - name: migrate-db-script
          configMap:
            name: migrate-db-script
            defaultMode: 0755
  backoffLimit: 0
