---
# Detect if OJVM Patch has been applied to the Primary database.
# The OJVM patch is not certified for Standby First deployment so it must be installed there prior to installing on the standby databases.
- name: Check OJVM Has Been Installed on Primary
  when: 
      - database_role != "primary"
      - not intended_primary
  block:
    - name: Check for OJVM Installation on Primary
      script: get_ojvm_patch_check.sh {{ ojvm_patch_id }}
      changed_when: false
      register: get_ojvm_patch_check
      delegate_to: "{{ primary_host }}"
      args:
         executable: /bin/bash

    # From Oracle 26ai onwards, we can install the OJVM patch on the standby first -
    # this code should be amended after upgrading from 19c to a later release.
    - name: Abort Installation if Attempt to Install on Standby Ahead of Primary
      fail:
        msg: "OJVM Patch {{ ojvm_patch_id }} is Not Standby First Certified.  Install on Primary First."
      when: get_ojvm_patch_check.stdout is not search('SUCCESS')

- name: Check if OJVM Already Installed
  shell: |
    . ~/.bash_profile
    $ORACLE_HOME/OPatch/opatch lspatches -id {{ ojvm_patch_id }}
  register: patch_check
  failed_when: patch_check.rc > 1
  changed_when: false
  args:
         executable: /bin/bash

- name: Show Install Status
  debug: var=patch_check.rc

- name: Run Patch Installation only When Not Installed
  block:
    # If Installing on Primary Ensure We Disable Active Data Guard on Related Standby
    # (Otherwise Recovery will Abort on that Standby)
    - name: Disable ADG on Standby 1
      include_tasks: disable_adg.yml
      vars:
        standbydb1_group: "{{ primary_host_group | regex_replace('^(.*)_primarydb', '\\1_standbydb1') }}"
        standby_host: "{{ groups[standbydb1_group][0] }}"
        adg_standby_sid: "{{ hostvars[standby_host]['database_standby_sid'] }}"
      when:
        - high_availability_count[application] | int >= 1
        - database_role == 'primary'

    - name: Disable ADG on Standby 2
      include_tasks: disable_adg.yml
      vars:
        standbydb2_group: "{{ primary_host_group | regex_replace('^(.*)_primarydb', '\\1_standbydb2') }}"
        standby_host: "{{ groups[standbydb2_group][0] }}"
        adg_standby_sid: "{{ hostvars[standby_host]['database_standby_sid'] }}"
      when:
        - high_availability_count[application] | int == 2
        - database_role == 'primary'

    - name: Shutdown Database for Patching
      include_tasks: shutdown_database.yml
      when: (database_role != 'primary' and standby_db_configured) or (database_role == 'primary')

    # OJVM Patch may be standalone (if superset_patch_id is specified) or within the Combo patch (if superset_patch_id is not specified)
    - name: Define Location of Patch
      set_fact:
        ojvm_patch_location: "{{ ( oracle_patch_directory + '/' + ojvm_patch_id ) if (superset_patch_id is defined) else ( oracle_patch_directory + '/' + combo_patch_id + '/' + ojvm_patch_id ) }}"

    - name: Run OJVM Patch Installation
      shell: |
        . ~/.bash_profile
        cd {{ ojvm_patch_location }}
        $ORACLE_HOME/OPatch/opatch apply -silent
      async: 2400
      poll: 0
      register: run_ojvm_patch
      args:
         executable: /bin/bash

    - name: Wait for OJVM Patch Install
      async_status:
        jid: "{{ run_ojvm_patch.ansible_job_id }}"
      register: result
      until: result.finished
      retries: 80
      delay: 30
      failed_when: result.rc != 0

    # We may run Datapatch against an open database (do not need to do a Startup Upgrade)
    - name: Startup Database for Normal Use
      include_tasks: startup_database.yml
      when: (database_role != 'primary' and standby_db_configured) or (database_role == 'primary')

    - name: Run Datapatch if Primary
      import_tasks: run_datapatch.yml
      when: database_role == "primary"

    # Enable Active Data Guard if Required after install on Standby
    - name: Enable ADG
      include_tasks: enable_adg.yml
      vars:
        adg_standby_sid: "{{ database_standby_sid }}"
      when:
        - database_role != 'primary'
        - active_data_guard | default(false) | bool
        - standby_db_configured

  when: patch_check.rc == 1
