name: "Delius Core: GDPR/Merge Database Migration"

on:
  workflow_dispatch:
    inputs:
      env_source:
        description: "Environment where db migration will be done (delius-mis-dev)"
        required: true
        type: choice
        options:
          - delius-mis-dev
      env_dest:
        description: "Environment where db migration will be done (dev)"
        required: true
        type: choice
        options:
          - dev
      app:
        description: "Application DB to migrated ('gdpr' or 'merge')"
        required: true
        type: choice
        options:
          - gdpr
          - merge
      ssm_prefix:
        description: "SSM Parameter Store prefix for legacy RDS credentials (e.g. '/delius-mis-dev/delius/merge/db/')"
        required: true
        type: string

jobs:
  get-source-rds-creds:
    name: Source RDS credentials (Legacy)
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.env_source }}
    outputs:
      db_user: ${{ steps.rds_creds.outputs.db_user }}
      db_pass: ${{ steps.rds_creds.outputs.db_pass }}
      db_name: ${{ steps.rds_creds.outputs.db_name }}
      db_host: ${{ steps.rds_creds.outputs.db_host }}
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.26.0'
        id: kubectl_install

      - name: Setup helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.3

      # - name: Configure AWS credentials (Legacy)
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     role-to-assume: "arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/terraform"
      #     role-session-name: "hmpps-delius-operational-automation-db-migration-${{ github.run_number }}"
      #     role-duration-seconds: 21600
      #     aws-region: "eu-west-2"

      - name: Test
        run: |
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          export AWS_DEFAULT_REGION=eu-west-2
          if [[ -z "$AWS_ACCESS_KEY_ID" || -z "$AWS_SECRET_ACCESS_KEY" ]]; then
            echo "Error: AWS_ACCESS_KEY_ID or AWS_SECRET_ACCESS_KEY is not set!"
            exit 1
          else
            echo "AWS credentials are set."
            aws sts get-caller-identity
          fi
      
      - name: Configure AWS Credentials (Legacy)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-west-2"

      # Fetch DB credentials from SSM (legacy account)
      - name: Get RDS credentials from SSM
        id: rds_creds
        run: |
          DB_USER=$(aws ssm get-parameter --with-decryption --name "${{ github.event.inputs.ssm_prefix }}db-username" --query "Parameter.Value" --output text)
          DB_PASS=$(aws ssm get-parameter --with-decryption --name "${{ github.event.inputs.ssm_prefix }}admin_password" --query "Parameter.Value" --output text)
          DB_NAME=$(aws ssm get-parameter --with-decryption --name "${{ github.event.inputs.ssm_prefix }}db-name" --query "Parameter.Value" --output text)
          DB_HOST=$(aws ssm get-parameter --with-decryption --name "${{ github.event.inputs.ssm_prefix }}db-endpoint" --query "Parameter.Value" --output text)

          echo "db_user=$DB_USER" >> $GITHUB_OUTPUT
          echo "db_pass=$DB_PASS" >> $GITHUB_OUTPUT
          echo "db_name=$DB_NAME" >> $GITHUB_OUTPUT
          echo "db_host=$DB_HOST" >> $GITHUB_OUTPUT

  get-dest-rds-creds:
    name: Dest RDS credentials (CP)
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.env_dest }}
    needs: get-source-rds-creds
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBE_CERT }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=hmpps-delius-core-${{ github.event.inputs.destination_env }}
          kubectl config use-context ${KUBE_CLUSTER}
        env:
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}

      - name: Create Kubernetes Secret
        run: |
          kubectl delete secret legacy-rds-creds --ignore-not-found -namespace hmpps-delius-core-${{ github.event.inputs.env_dest }}
          kubectl create secret generic legacy-rds-creds \
            --from-literal=username=${{ needs.get-source-rds-creds.outputs.db_user }} \
            --from-literal=password=${{ needs.get-source-rds-creds.outputs.db_pass }} \
            --from-literal=database=${{ needs.get-source-rds-creds.outputs.db_name }} \
            --from-literal=host=${{ needs.get-source-rds-creds.outputs.db_host }} \
            -namespace hmpps-delius-core-${{ github.event.inputs.env_dest}}

      - name: Deploy Migration Job via Helm
        run: |
          helm upgrade --install db-migration ./helm/migrate-db \
            --namespace hmpps-delius-core-${{ github.event.inputs.env_dest }} \
            --set appName=${{ github.event.inputs.app }} \
            --set job.environment=${{ github.event.inputs.env_dest }} \
            --wait
